{{> header}}
<head>
  <title>P치gina de error</title>
</head>
<body>
  <h1>No se encontr칩 la p치gina</h1>
  <img src="https://images01.nicepagecdn.com/page/38/90/es/plantilla-html-preview-389055.jpg" alt="Ruta no v치lida">
</body>
</html>